<html>
<head><title>Payment Form</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body>
<p>Payment page</p>

<form name="input" action="${callback_url}" method="post">
    % for name, value in post_params.items():
        <input type="hidden" name="${name}" value="${value}">
    % endfor
    <input type="submit" value="Submit">
    <input type="submit" value="Decline" id="decline">
</form>

<script>
    $(function () {
        $('#decline').click(function (event) {
            $('input:hidden[name=decision]').val('DECLINE');
        });
    });
</script>

</body>
</html>


